.body {
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #88304E;
    margin: 0;
    background-color: #2C2C2C;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    color: white;
    background-color: #F7374F;
    padding: 20px 10% 20px 10%;
}

.container1 {
    display: flex;
    background-color: #88304E;
    justify-content: center;
    gap: 10%;
    padding: 30px 10% 30px 10%;

}

button {
    color: white;
    background-color: #88304E;
    outline-color: white;
    border-radius: 10px;
    border-color: white;
    cursor: pointer;
    font-size: 25px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #522546;
    padding: 40px 0 40px 0;
}

.group1,
.group2 {
    display: flex;
    max-width: 225px;
    gap: 5px;
    padding: 20px 0 0 0;
}

.group {
    display: flex;
    gap: 20px;
    font-size: 30px;
    font-weight: 800;
    ;
    padding: 20px 0 0 0
}

.mainGroup {
    display: flex;
    gap: 60px;
    font-size: 30px;
}

.end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px 20% 40px 20%;
}

.rounds {
    padding: 0 0 50px 0;
}

.winner {
    font-size: xx-large;
    font-weight: 700;
}